# Extract, Clean Data and create Tables

In [ ]:
# Extract JSON from Camden Trees API and store it in mySQL table in UCL database
!pip install pandas
!pip install sodapy

import pandas as pd
from sodapy import Socrata
import requests
import pymysql
import os
import json

#!!!!this is my registered account with Camden COuncil, if prompted a lot, they will lock it !!!
#Define the API path, app token, the registered account username and password
client = Socrata("opendata.camden.gov.uk","5YbHlvnsIgblrrY3kSuIU9WZ0", username = "ucfnmoa@ucl.ac.uk",password = "Archsara13" )

# Increased the limit to cover all the records
# Data returned as JSON from API / converted to Python list of dictionaries by sodapy.
r = client.get("csqp-kdss", limit=50000)
r_df = pd.DataFrame.from_records(r)
raw_data = r_df.drop(['location','organisation_uri'],axis = 1)

# Store the prediction dataframe to UCL database 

# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
# replace USERNAME and PASSWORD with your own credentials 
engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

# make the connection to the database
conn = engine.raw_connection()
# change TABLENAME for the name of your newly created table
# don't worry about the warning if you get it 
r_final.to_sql('raw_data', engine, if_exists = 'replace')

# Print Done to inform the user that the update is finished
print("Table created in the databse!")

In [ ]:
raw_data

In [ ]:
# adding an id
mydb = pymysql.connect(host='dev.spatialdatacapture.org',
user='ucfnmoa',
passwd='qenewoqiki',
db='ucfnmoa')

cursor = mydb.cursor()
#sust_data
# this file is linked to a crontab scheduled every 6 months
# trees_Camden table was created from the last data update

# check if there is a table with the same name and drop it 
cursor.execute("Alter TABLE raw_data ADD COLUMN  id INT AUTO_INCREMENT PRIMARY KEY")

# Close the connection to the database.
mydb.commit()
cursor.close()

# Print Done to inform the user that the update is finished
print("Done")

In [ ]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
############### replace USERNAME and PASSWORD with your own credentials #############################
engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

# make the connection to the database
conn = engine.raw_connection()

# return it as a dataframe
trees_in_Camden = pd.read_sql('raw_data', con = engine)
trees_in_Camden = trees_in_Camden.drop(['outstanding_job_count','outstanding_job_description','outstanding_job_number','removal_reason',':@computed_region_hxwp_gyfc',':@computed_region_6i9a_26nj'],axis = 1)

# Remove all NAs 
# as well Condition!='Not applicable'Not applicable
# Condition!='Dead'
# Maturity!='Not Applicable'
trees_in_Camden_na=trees_in_Camden.dropna()
trees_in_Camden_Cleaned = trees_in_Camden_na.loc[(trees_in_Camden_na.physiological_condition!='Not applicable') & (trees_in_Camden_na.physiological_condition!='Dead') & (trees_in_Camden_na.maturity!='Not Applicable') ]
# Setting Data types
# Turns date column into datetime type
trees_in_Camden_Cleaned['inspection_date'] = pd.to_datetime(trees_in_Camden_Cleaned['inspection_date'])
trees_in_Camden_Cleaned['last_uploaded'] = pd.to_datetime(trees_in_Camden_Cleaned['last_uploaded'])

trees_in_Camden_Cleaned['height_in_metres'] = pd.to_numeric(trees_in_Camden_Cleaned['height_in_metres'],errors='coerce')
trees_in_Camden_Cleaned['number_of_trees'] = pd.to_numeric(trees_in_Camden_Cleaned['number_of_trees'],errors='coerce')
trees_in_Camden_Cleaned['sequence'] = pd.to_numeric(trees_in_Camden_Cleaned['sequence'],errors='coerce')
trees_in_Camden_Cleaned['spread_in_metres'] = pd.to_numeric(trees_in_Camden_Cleaned['spread_in_metres'],errors='coerce')
trees_in_Camden_Cleaned['diameter_in_centimetres_at_breast_height'] = pd.to_numeric(trees_in_Camden_Cleaned['diameter_in_centimetres_at_breast_height'],errors='coerce')
trees_in_Camden_Cleaned['capital_asset_value_for_amenity_trees'] = pd.to_numeric(trees_in_Camden_Cleaned['capital_asset_value_for_amenity_trees'],errors='coerce')
trees_in_Camden_Cleaned['easting'] = pd.to_numeric(trees_in_Camden_Cleaned['easting'],errors='coerce')
trees_in_Camden_Cleaned['northing'] = pd.to_numeric(trees_in_Camden_Cleaned['northing'],errors='coerce')
trees_in_Camden_Cleaned['longitude'] = pd.to_numeric(trees_in_Camden_Cleaned['longitude'],errors='coerce')
trees_in_Camden_Cleaned['latitude'] = pd.to_numeric(trees_in_Camden_Cleaned['latitude'],errors='coerce')
trees_in_Camden_Cleaned['identifier'] = pd.to_numeric(trees_in_Camden_Cleaned['identifier'],errors='coerce')
trees_in_Camden_Cleaned['carbon_storage_in_kilograms'] = pd.to_numeric(trees_in_Camden_Cleaned['carbon_storage_in_kilograms'],errors='coerce')
trees_in_Camden_Cleaned['gross_carbon_sequestration_per_year_in_kilograms'] = pd.to_numeric(trees_in_Camden_Cleaned['gross_carbon_sequestration_per_year_in_kilograms'],errors='coerce')
trees_in_Camden_Cleaned['pollution_removal_per_year_in_grams'] = pd.to_numeric(trees_in_Camden_Cleaned['pollution_removal_per_year_in_grams'],errors='coerce')

# store the cleaned data in UCL database
trees_in_Camden_Cleaned.to_sql('camden_tree', engine, if_exists = 'replace')

# Print Done to inform the user that the update is finished
print("Data is cleaned and uploaded to the database")

In [ ]:
#Creating tables

mydb = pymysql.connect(host='dev.spatialdatacapture.org',
user='ucfnmoa',
passwd='qenewoqiki',
db='ucfnmoa')

cursor = mydb.cursor()
#sust_data
# this file is linked to a crontab scheduled every 6 months
# trees_Camden table was created from the last data update

# check if there is a table with the same name and drop it 
cursor.execute("DROP TABLE IF EXISTS sust_data")
cursor.execute("DROP TABLE IF EXISTS tree_data")
cursor.execute("DROP TABLE IF EXISTS tree_locations")
cursor.execute("DROP FUNCTION IF EXISTS distance")


# Create a table in mySQL that includes the below columns
# Indicate data types
cursor.execute("CREATE TABLE sust_data AS SELECT id,carbon_storage_in_kilograms , gross_carbon_sequestration_per_year_in_kilograms,pollution_removal_per_year_in_grams FROM camden_tree")
cursor.execute("CREATE TABLE tree_data AS SELECT id,common_name ,inspection_date,height_in_metres,spread_in_metres,diameter_in_centimetres_at_breast_height,maturity,physiological_condition,tree_set_to_be_removed,newly_planted,capital_asset_value_for_amenity_trees,ward_code,ward_name,last_uploaded,number_of_trees FROM camden_tree")
cursor.execute("CREATE FUNCTION `distance`(a POINT, b POINT) RETURNS double DETERMINISTIC RETURN ifnull(acos(sin(ST_X(a)) * sin(ST_X(b)) + cos(ST_X(a)) * cos(ST_X(b)) * cos(ST_Y(b) - ST_Y(a))) * 6380, 0)")
cursor.execute("CREATE TABLE tree_locations AS SELECT id,latitude,longitude FROM camden_tree;")
cursor.execute("ALTER TABLE tree_locations ADD coords POINT;")
cursor.execute("UPDATE tree_locations SET coords = POINT(longitude, latitude);")

#cursor.execute("ALTER TABLE tree_locations MODIFY coords POINT NOT NULL")

# Close the connection to the database.
mydb.commit()
cursor.close()

# Print Done to inform the user that the update is finished
print("Done")

#check in mySQL your database, you can find the trees in camden table with all the records!

# Advanced Regression

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm

pd.set_option('display.max_rows', 300) # specifies number of rows to show
pd.options.display.float_format = '{:40,.4f}'.format # specifies default number format to 4 decimal places
plt.style.use('ggplot') # specifies that graphs should use ggplot styling
%matplotlib inline

In [60]:
!pip install pandas
!pip install sodapy

import pandas as pd
from sodapy import Socrata
import requests
import pymysql
import os
import json

# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
# replace USERNAME and PASSWORD with your own credentials 
engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

#######check the code before working with your database###########
#engine = create_engine('mysql+pymysql://ucfnhre:cujereveze@dev.spatialdatacapture.org:3306/ucfnhre')


# make the connection to the database
conn = engine.raw_connection()

# read from the database
trees_in_Camden = pd.read_sql('camden_tree', con = engine)

#Filtering by type: the London Plane
trees_in_Camden_London_Plane= trees_in_Camden[(trees_in_Camden.common_name =='London plane')]

#drop columns/variables such as id,number of trees,site name etc..
trees_in_Camden_Cleaned=trees_in_Camden_London_Plane.drop(['common_name','level_0','index','number_of_trees','sequence','site_name','contract_area','scientific_name','inspection_date','inspection_due_date','maturity','tree_set_to_be_removed','newly_planted','ward_code','ward_name','easting','northing','longitude','latitude','identifier','spatial_accuracy','last_uploaded'],axis = 1)

# Converting the categorical dtaa
trees_in_Camden_numeric = pd.get_dummies(trees_in_Camden_Cleaned)

# define the reference variable
# change the reference variable name to Condition_Excellent when working with data from csv
trees_in_Camden_final = trees_in_Camden_numeric.drop(['physiological_condition_Excellent'], axis=1)

Requirement already satisfied: pandas in c:\users\saramoatti\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Requirement already satisfied: sodapy in c:\users\saramoatti\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\saramoatti\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)

,level_0,index,number_of_trees,sequence,site_name,contract_area,scientific_name,common_name,inspection_date,inspection_due_date,...,easting,northing,longitude,latitude,identifier,spatial_accuracy,last_uploaded,carbon_storage_in_kilograms,gross_carbon_sequestration_per_year_in_kilograms,pollution_removal_per_year_in_grams
27,67,67,1,18,WOBURN PLACE,Highways,Platanus x hispanica,London plane,2019-08-27,2022/2023,...,530060,182168,-0.1267,51.523463,22649,Captured By Camden Officer,2020-05-24 20:31:28,99.1000,4.6000,195.6000
31,75,75,1,5,MUSEUM STREET,Highways,Platanus x hispanica,London plane,2019-08-21,2022/2023,...,530218,181388,-0.1247,51.516417,14764,Captured By Camden Officer,2020-05-24 20:31:45,181.3000,7.5000,301.6000
34,78,78,1,5,HATTON GARDEN,Highways,Platanus x hispanica,London plane,2019-08-15,2022/2023,...,531377,181641,-0.1079,51.518418,9675,Captured By Camden Officer,2020-05-24 20:31:55,858.0000,16.5000,605.0000
47,93,93,1,2,LAWFORD ROAD,Highways,Platanus x hispanica,London plane,2017-06-22,2020/2021,...,529086,184724,-0.1398,51.54666,12562,Captured By Camden Officer,2020-05-24 20:31:49,898.7000,18.9000,195.6000
59,109,109,1,31,KINGSWAY,Highways,Platanus x hispanica,London plane,2019-08-20,2022/2023,...,530601,181297,-0.1192,51.515511,12304,Captured By Camden Officer,2020-05-24 20:31:50,571.7000,14.6000,929.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19891,23440,23440,1,4,STACEY STREET,Highways,Platanus x hispanica,London plane,2019-08-07,2022/2023,...,529945,181155,-0.1287,51.514383,51774,Captured By Camden Officer,2020-05-24 20:31:35,273.6000,9.4000,389.1000
19893,23442,23442,1,26,Estate 1-72 Blashford (cons),Housing,Platanus x hispanica,London plane,2018-04-17,2021/2022,...,527529,184331,-0.1623,51.543476,2373,Captured By Camden Officer,2020-05-24 20:32:00,"1,357.3000",21.6000,434.7000
19898,23447,23447,1,15,"CAMDEN SQUARE, GARDENS (LS)",Parks,Platanus x hispanica,London plane,2020-05-04,2023/2024,...,529625,184490,-0.1321,51.544428,2997,Captured By Camden Officer,2020-05-24 20:32:08,"4,662.4000",35.8000,"1,578.6000"
19907,23458,23458,1,49,HAMPSTEAD (E),Education,Platanus x hispanica,London plane,2019-07-02,2022/2023,...,524360,185524,-0.2076,51.554906,9503,Captured By Camden Officer,2020-05-24 20:31:56,545.7000,12.6000,221.1000
19909,23460,23460,1,64,Clarence Way Estate NW1,Housing,Platanus x hispanica,London plane,2019-12-16,2022/2023,...,528920,184375,-0.1423,51.543559,4200,Captured By Camden Officer,2020-05-24 20:32:05,"2,665.6000",36.0000,"1,243.2000"

In [5]:
# Stepwise Regression

def stepwise_selection(X, y, 
                       initial_list=[], 
                       threshold_in=0.01, 
                       threshold_out = 0.05, 
                       verbose=True):
    """ Perform a forward-backward feature selection 
    based on p-value from statsmodels.api.OLS
    Arguments:
        X - pandas.DataFrame with candidate features
        y - list-like with the target
        initial_list - list of features to start with (column names of X)
        threshold_in - include a feature if its p-value < threshold_in
        threshold_out - exclude a feature if its p-value > threshold_out
        verbose - whether to print the sequence of inclusions and exclusions
    Returns: list of selected features 
    Always set threshold_in < threshold_out to avoid infinite looping.
    See https://en.wikipedia.org/wiki/Stepwise_regression for the details
    """
    included = list(initial_list)
    while True:
        changed=False
        # forward step
        excluded = list(set(X.columns)-set(included))
        new_pval = pd.Series(index=excluded)
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included+[new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        if best_pval < threshold_in:
            best_feature = new_pval.idxmin()
            included.append(best_feature)
            changed=True
            if verbose:
                print('Add  {:30} with p-value {:.6}'.format(best_feature, best_pval))

        # backward step
        model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included]))).fit()
        # use all coefs except intercept
        pvalues = model.pvalues.iloc[1:]
        worst_pval = pvalues.max() # null if pvalues is empty
        if worst_pval > threshold_out:
            changed=True
            worst_feature = pvalues.argmax()
            included.remove(worst_feature)
            if verbose:
                print('Drop {:30} with p-value {:.6}'.format(worst_feature, worst_pval))
        if not changed:
            break
    return included

In [6]:
# split the DataFrame into predictors and response
predictors_trees_in_Camden_final = trees_in_Camden_final.drop(columns=['pollution_removal_per_year_in_grams'], axis=1)
response_trees_in_Camden_final = trees_in_Camden_final[['pollution_removal_per_year_in_grams']]

In [7]:
# use stepwise regression on the bike_rental dataset
list_predictor_select_stepwise = stepwise_selection(X=predictors_trees_in_Camden_final, y=response_trees_in_Camden_final)
print("The predictors that are selected by stepwise regression are:")
print(list_predictor_select_stepwise)

Add  capital_asset_value_for_amenity_trees with p-value 0.0
Add  spread_in_metres               with p-value 0.0
Add  diameter_in_centimetres_at_breast_height with p-value 1.14813e-61
Add  carbon_storage_in_kilograms    with p-value 3.31015e-50
Add  height_in_metres               with p-value 7.78935e-23
Add  gross_carbon_sequestration_per_year_in_kilograms with p-value 7.75383e-09
The predictors that are selected by stepwise regression are:
['capital_asset_value_for_amenity_trees', 'spread_in_metres', 'diameter_in_centimetres_at_breast_height', 'carbon_storage_in_kilograms', 'height_in_metres', 'gross_carbon_sequestration_per_year_in_kilograms']

C:\Users\SaraMoatti\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [8]:
# calculating VIF
# This function is from: https://stackoverflow.com/a/51329496/4667568
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from statsmodels.tools.tools import add_constant

def calculate_vif_(df, thresh=5):
    '''
    Calculates VIF each feature in a pandas dataframe
    A constant must be added to variance_inflation_factor or the results will be incorrect

    :param df: the pandas dataframe containing only the predictor features, not the response variable
    :param thresh: the max VIF value before the feature is removed from the dataframe
    :return: dataframe with features removed
    '''
    const = add_constant(df)
    cols = const.columns
    variables = np.arange(const.shape[1])
    vif_df = pd.Series([variance_inflation_factor(const.values, i) 
               for i in range(const.shape[1])], 
              index=const.columns).to_frame()

    vif_df = vif_df.sort_values(by=0, ascending=False).rename(columns={0: 'VIF'})
    vif_df = vif_df.drop('const')
    vif_df = vif_df[vif_df['VIF'] > thresh]

    print('Features above VIF threshold:\n')
    print(vif_df[vif_df['VIF'] > thresh])

    col_to_drop = list(vif_df.index)

    for i in col_to_drop:
        print('Dropping: {}'.format(i))
        df = df.drop(columns=i)

    return df

In [9]:
# using VIF on the bike_rental dataset
df_predictors_select_VIF = calculate_vif_(predictors_trees_in_Camden_final)
print("The columns remaining after VIF selection are:")
print(df_predictors_select_VIF.columns)

Features above VIF threshold:

                                                                              VIF
physiological_condition_Good                                             681.2614
physiological_condition_Fair                                             676.8056
diameter_in_centimetres_at_breast_height                                  22.7464
capital_asset_value_for_amenity_trees                                     18.0693
carbon_storage_in_kilograms                                               12.3931
physiological_condition_Poor                                              11.9744
Dropping: physiological_condition_Good
Dropping: physiological_condition_Fair
Dropping: diameter_in_centimetres_at_breast_height
Dropping: capital_asset_value_for_amenity_trees
Dropping: carbon_storage_in_kilograms
Dropping: physiological_condition_Poor
The columns remaining after VIF selection are:
Index(['height_in_metres', 'spread_in_metres',
       'gross_carbon_sequestration_per_year_in_kilograms'],
      dtype='object')

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X=df_predictors_select_VIF, y=response_trees_in_Camden_final)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
y_pred=lr.predict(df_predictors_select_VIF)

In [13]:
print(lr.intercept_)
df_coef_lr_VIF = pd.DataFrame({"var": df_predictors_select_VIF.columns.values, "coef":lr.coef_[0]})
print(df_coef_lr_VIF)

[-510.89890991]
                                                var  \
0                                  height_in_metres
1                                  spread_in_metres
2  gross_carbon_sequestration_per_year_in_kilograms

                                      coef
0                                   8.7434
1                                  93.1439
2                                  -3.5659

In [14]:
lr.score(X=df_predictors_select_VIF, y=response_trees_in_Camden_final)

0.894024951053441

In [15]:
# fit a lineare regression model using statsmodel
regressor_OLS = sm.OLS(endog=response_trees_in_Camden_final, exog=sm.add_constant(df_predictors_select_VIF)).fit()

C:\Users\SaraMoatti\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                     OLS Regression Results
===============================================================================================
Dep. Variable:     pollution_removal_per_year_in_grams   R-squared:                       0.894
Model:                                             OLS   Adj. R-squared:                  0.894
Method:                                  Least Squares   F-statistic:                     9035.
Date:                                 Mon, 25 May 2020   Prob (F-statistic):               0.00
Time:                                         13:34:00   Log-Likelihood:                -20807.
No. Observations:                                 3217   AIC:                         4.162e+04
Df Residuals:                                     3213   BIC:                         4.165e+04
Df Model:                                            3
Covariance Type:                             nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
const                                             -510.8989      8.970    -56.956      0.000    -528.487    -493.311
height_in_metres                                     8.7434      0.804     10.878      0.000       7.167      10.319
spread_in_metres                                    93.1439      1.047     88.947      0.000      91.091      95.197
gross_carbon_sequestration_per_year_in_kilograms    -3.5659      0.332    -10.729      0.000      -4.218      -2.914
==============================================================================
Omnibus:                     1558.795   Durbin-Watson:                   2.057
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21034.855
Skew:                           1.957   Prob(JB):                         0.00
Kurtosis:                      14.900   Cond. No.                         103.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [68]:
######################################
### % CHANGES AND WARD AGGREGATION ###
######################################

# prediction after 5 years on 3 common trees
# height: 1m/1 year
# Spread: 0.5m/1year
# Carbon seq: average 2.5 kg after 1 year growth

London_Plane= trees_in_Camden[(trees_in_Camden.common_name =='London plane')]
London_Plane_Cleaned=trees_in_Camden_Cleaned.drop(['diameter_in_centimetres_at_breast_height','physiological_condition','capital_asset_value_for_amenity_trees','carbon_storage_in_kilograms','pollution_removal_per_year_in_grams'],axis = 1)
#London_Plane_Cleaned['Height_M'] = pd.to_numeric(London_Plane_Cleaned['Height_M'],errors='coerce')
#London_Plane_Cleaned['Spread_M'] = pd.to_numeric(London_Plane_Cleaned['Spread_M'],errors='coerce')
#London_Plane_Cleaned['Carbon_Sequest_YR'] = pd.to_numeric(London_Plane_Cleaned['Carbon_Sequest_YR'],errors='coerce')
#trees_in_Camden_London_Plane['Pollution_Year_grams'] = pd.to_numeric(trees_in_Camden_London_Plane['Pollution_Year_grams'],errors='coerce')

London_Plane_Height = London_Plane_Cleaned['height_in_metres']
London_Plane_Spread = London_Plane_Cleaned['spread_in_metres']
London_Plane_Carbon_Sequest = London_Plane_Cleaned['gross_carbon_sequestration_per_year_in_kilograms']
Pred_London_Plane=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height , spread_in_metres = London_Plane_Spread , Carbon_Sequest_YR = London_Plane_Carbon_Sequest)

Pred_London_Plane_1year=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height+1 , spread_in_metres = London_Plane_Spread+0.5 , gross_carbon_sequestration_per_year_in_kilograms = London_Plane_Carbon_Sequest+2.5 )
Pred_London_Plane_2year=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height+2 , spread_in_metres = London_Plane_Spread+1 , gross_carbon_sequestration_per_year_in_kilograms = London_Plane_Carbon_Sequest+5 )
Pred_London_Plane_3year=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height+3 , spread_in_metres= London_Plane_Spread+1.5 , gross_carbon_sequestration_per_year_in_kilograms = London_Plane_Carbon_Sequest+7.5 )
Pred_London_Plane_4year=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height+4 , spread_in_metres = London_Plane_Spread+2 , gross_carbon_sequestration_per_year_in_kilograms = London_Plane_Carbon_Sequest+10 )
Pred_London_Plane_5year=London_Plane_Cleaned.assign(height_in_metres = London_Plane_Height+5 , spread_in_metres= London_Plane_Spread+2.5 , gross_carbon_sequestration_per_year_in_kilograms = London_Plane_Carbon_Sequest+12.5 )

y_pred_1year=lr.predict(Pred_London_Plane_1year)
y_pred_2year=lr.predict(Pred_London_Plane_2year)
y_pred_3year=lr.predict(Pred_London_Plane_3year)
y_pred_4year=lr.predict(Pred_London_Plane_4year)
y_pred_5year=lr.predict(Pred_London_Plane_5year)

Pred_London_Plane['Pollution_Removal_in_1_year']=y_pred_1year
Pred_London_Plane['Pollution_Removal_in_2_years']=y_pred_2year
Pred_London_Plane['Pollution_Removal_in_3_year']=y_pred_3year
Pred_London_Plane['Pollution_Removal_in_4_years']=y_pred_4year
Pred_London_Plane['Pollution_Removal_in_5_years']=y_pred_5year
Pred_London_Plane['Actual_Pollution_Year_grams'] =  y_pred
Pred_London_Plane['latitude'] = trees_in_Camden_London_Plane.latitude
Pred_London_Plane['longitude'] = trees_in_Camden_London_Plane.longitude

#Added next line for the ward aggregation: 
Pred_London_Plane['ward_name'] = trees_in_Camden_London_Plane.ward_name

Pred_Agg = Pred_London_Plane.groupby(['ward_name'], as_index=False).mean()

### aggregating before the change 

Pred_Agg = Pred_London_Plane.groupby(['ward_name'], as_index=False).mean()
Pred_Agg['change1'] = ((Pred_Agg['Pollution_Removal_in_1_year'] - Pred_Agg['Actual_Pollution_Year_grams']) / Pred_Agg['Actual_Pollution_Year_grams'])*100
Pred_Agg['change2'] = ((Pred_Agg['Pollution_Removal_in_2_years'] - Pred_Agg['Actual_Pollution_Year_grams']) / Pred_Agg['Actual_Pollution_Year_grams'])*100
Pred_Agg['change3'] = ((Pred_Agg['Pollution_Removal_in_3_year'] - Pred_Agg['Actual_Pollution_Year_grams']) / Pred_Agg['Actual_Pollution_Year_grams'])*100
Pred_Agg['change4'] = ((Pred_Agg['Pollution_Removal_in_4_years'] - Pred_Agg['Actual_Pollution_Year_grams']) / Pred_Agg['Actual_Pollution_Year_grams'])*100
Pred_Agg['change5'] = ((Pred_Agg['Pollution_Removal_in_5_years'] - Pred_Agg['Actual_Pollution_Year_grams']) / Pred_Agg['Actual_Pollution_Year_grams'])*100

,ward_name,height_in_metres,spread_in_metres,gross_carbon_sequestration_per_year_in_kilograms,Carbon_Sequest_YR,Pollution_Removal_in_1_year,Pollution_Removal_in_2_years,Pollution_Removal_in_3_year,Pollution_Removal_in_4_years,Pollution_Removal_in_5_years,Actual_Pollution_Year_grams,longitude,change1,change2,change3,change4,change5
0,Belsize,18.9787,11.9362,26.4277,26.4277,718.9830,765.3836,811.7842,858.1848,904.5854,672.5824,-0.1677,6.8989,13.7977,20.6966,27.5955,34.4944
1,Bloomsbury,21.8669,12.1805,20.8521,20.8521,786.8724,833.2730,879.6736,926.0742,972.4748,740.4718,-0.1304,6.2664,12.5327,18.7991,25.0654,31.3318
2,Camden Town with Primrose Hill,14.6479,9.4437,20.7155,20.7155,469.3239,515.7245,562.1251,608.5257,654.9263,422.9233,-0.1490,10.9714,21.9428,32.9142,43.8856,54.8570
3,Cantelowes,16.9530,9.5369,16.7215,16.7215,512.4065,558.8071,605.2077,651.6083,698.0089,466.0059,-0.1329,9.9571,19.9142,29.8712,39.8283,49.7854
4,Fortune Green,13.7844,8.5413,18.2766,18.2766,386.4200,432.8206,479.2212,525.6218,572.0224,340.0194,-0.2037,13.6465,27.2929,40.9394,54.5858,68.2323
5,Frognal and Fitzjohns,16.6164,10.1897,24.0315,24.0315,544.1955,590.5961,636.9967,683.3973,729.7979,497.7949,-0.1856,9.3212,18.6425,27.9637,37.2849,46.6061
6,Gospel Oak,18.3550,11.2899,19.5615,19.5615,677.8213,724.2219,770.6225,817.0231,863.4237,631.4207,-0.1544,7.3486,14.6972,22.0458,29.3944,36.7430
7,Hampstead Town,15.7025,10.4545,22.2529,22.2529,567.2200,613.6206,660.0212,706.4218,752.8224,520.8194,-0.1694,8.9092,17.8183,26.7275,35.6366,44.5458
8,Haverstock,18.4576,11.4891,24.6609,24.6609,679.0878,725.4884,771.8890,818.2896,864.6902,632.6872,-0.1524,7.3339,14.6678,22.0017,29.3356,36.6695
9,Highgate,16.2094,9.9856,20.0025,20.0025,535.9935,582.3941,628.7947,675.1953,721.5959,489.5929,-0.1461,9.4774,18.9548,28.4322,37.9095,47.3869
10,Holborn and Covent Garden,20.2144,12.9835,19.5233,19.5233,851.9583,898.3589,944.7595,991.1601,"1,037.5607",805.5577,-0.1190,5.7601,11.5201,17.2802,23.0402,28.8003
11,Kentish Town,14.4071,9.2232,17.8259,17.8259,456.9896,503.3902,549.7908,596.1914,642.5920,410.5890,-0.1369,11.3010,22.6020,33.9030,45.2039,56.5049
12,Kilburn,15.1154,10.2885,16.9827,16.9827,565.4100,611.8106,658.2112,704.6118,751.0124,519.0094,-0.1906,8.9402,17.8804,26.8207,35.7609,44.7011
13,King's Cross,22.9297,15.0000,22.0664,22.0664,"1,054.4565","1,100.8571","1,147.2577","1,193.6583","1,240.0589","1,008.0559",-0.1208,4.6030,9.2060,13.8089,18.4119,23.0149
14,Regent's Park,18.7159,11.7802,21.6664,21.6664,719.1334,765.5340,811.9346,858.3352,904.7358,672.7328,-0.1396,6.8973,13.7947,20.6920,27.5893,34.4866
15,St Pancras and Somers Town,18.0266,11.1361,20.5849,20.5849,656.9675,703.3681,749.7687,796.1693,842.5699,610.5669,-0.1317,7.5996,15.1992,22.7988,30.3984,37.9980
16,Swiss Cottage,16.5224,11.2090,26.3157,26.3157,630.1700,676.5706,722.9712,769.3718,815.7724,583.7694,-0.1700,7.9484,15.8969,23.8453,31.7938,39.7422
17,West Hampstead,13.0667,8.4444,17.4311,17.4311,374.1394,420.5400,466.9406,513.3412,559.7418,327.7388,-0.1946,14.1578,28.3156,42.4734,56.6312,70.7890

In [69]:
# Store the prediction dataframe to UCL database 

!pip install pandas
!pip install sodapy

import pandas as pd
from sodapy import Socrata
import requests
import pymysql
import os
import json

# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
# replace USERNAME and PASSWORD with your own credentials 
#engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

# make the connection to the database
conn = engine.raw_connection()
# change TABLENAME for the name of your newly created table
# don't worry about the warning if you get it 
Pred_Agg2.to_sql('predictions', engine, if_exists = 'replace')

# Print Done to inform the user that the update is finished
print("Prediction table is created successfully")

Requirement already satisfied: pandas in c:\users\saramoatti\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\pymysql\connections.py", line 713, in _write_bytes
    self._sock.sendall(data)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 680, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 867, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py", line 2302, in do_rollback
    dbapi_connection.rollback()
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\pymysql\connections.py", line 429, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\pymysql\connections.py", line 771, in _execute_command
    self._write_bytes(packet)
  File "C:\Users\SaraMoatti\Anaconda3\lib\site-packages\pymysql\connections.py", line 718, in _write_bytes
    "MySQL server has gone away (%r)" % (e,))
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))")

Requirement already satisfied: sodapy in c:\users\saramoatti\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\saramoatti\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)
Done

In [70]:
%%js

var x = 1;
console.log("1st console log pre func " + x);
function testf(){
    var x = 2;
    console.log("function console log " + x);
}
testf();
console.log("2nd console log: " + x);