In [7]:
# Extract JSON from Camden Trees API and store it in mySQL table in UCL database
!pip install pandas
!pip install sodapy

import pandas as pd
from sodapy import Socrata
import requests
import pymysql
import os
import json

#!!!!this is my registered account with Camden COuncil, if prompted a lot, they will lock it !!!
#Define the API path, app token, the registered account username and password
client = Socrata("opendata.camden.gov.uk","5YbHlvnsIgblrrY3kSuIU9WZ0", username = "ucfnmoa@ucl.ac.uk",password = "Archsara13" )

# Increased the limit to cover all the records
# Data returned as JSON from API / converted to Python list of dictionaries by sodapy.
r = client.get("csqp-kdss", limit=50000)
r_df = pd.DataFrame.from_records(r)
raw_data = r_df.drop(['location','organisation_uri'],axis = 1)

# Store the prediction dataframe to UCL database 

# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
# replace USERNAME and PASSWORD with your own credentials 
engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

# make the connection to the database
conn = engine.raw_connection()
# change TABLENAME for the name of your newly created table
# don't worry about the warning if you get it 
raw_data.to_sql('raw_data', engine, if_exists = 'replace')

# Print Done to inform the user that the update is finished
print("Table created in the databse!")

Requirement already satisfied: pandas in c:\users\saramoatti\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Requirement already satisfied: sodapy in c:\users\saramoatti\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\saramoatti\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\saramoatti\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Table created in the databse!

In [8]:
raw_data

,number_of_trees,sequence,site_name,contract_area,scientific_name,common_name,inspection_date,inspection_due_date,height_in_metres,spread_in_metres,...,ward_name,:@computed_region_hxwp_gyfc,:@computed_region_6i9a_26nj,carbon_storage_in_kilograms,gross_carbon_sequestration_per_year_in_kilograms,pollution_removal_per_year_in_grams,outstanding_job_count,outstanding_job_number,outstanding_job_description,removal_reason
0,1,85,YORK WAY,Highways,Platanus x hispanica,London plane,2019-10-23T00:00:00.000,2022/2023,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10,MONTAGUE STREET,Highways,Koelreuteria paniculata,Golden Rain Tree,NaN,NaN,0,0,...,Bloomsbury,2,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,35,Westcroft Estate Allotments,Parks,Pyrus communis,Pear,2020-05-14T00:00:00.000,2023/2024,13,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,59,Wendling Estate,Housing,Tilia europaea,Lime - Common,2020-03-17T00:00:00.000,2022/2023,15,10,...,Gospel Oak,7,49,351.7,8.9,442.7,NaN,NaN,NaN,NaN
4,1,217,Abbey Estate 1,Housing,Unknown,Unknown,2018-12-20T00:00:00.000,2021/2022,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23457,1,13,"LEIGHTON CRESCENT, GARDENS (LS)",Parks,Acer negundo,Maple - Boxelder,2019-06-26T00:00:00.000,2022/2023,16,9,...,Kentish Town,12,83,212.6,7.8,238,NaN,NaN,NaN,NaN
23458,1,27,SOUTH HILL PARK,Highways,Tilia euchlora,Lime - Caucasian,2017-07-25T00:00:00.000,2020/2021,11,7,...,Hampstead Town,8,52,142.1,5.3,219.6,1,271945,Remove epicormic growth,NaN
23459,1,47,Sidmouth Street Estate,Housing,Crataegus x lavallei,Hawthorn - Cockspur,2019-07-22T00:00:00.000,2022/2023,5,2,...,King's Cross,14,98,3.7,0.8,13.1,NaN,NaN,NaN,NaN
23460,1,69,GRAY'S INN ROAD,Highways,Tilia europaea,Lime - Common,2019-10-15T00:00:00.000,2022/2023,14,8,...,King's Cross,14,99,79.4,3.8,252.3,3,257330;257330;257330,General prune;Notes to the contractor;General ...,NaN
23461,1,40,Ingestre Road Estate,Housing,Prunus padus,Cherry - Bird,2019-04-04T00:00:00.000,2022/2023,10,7,...,Kentish Town,12,87,198.5,8.4,157.7,NaN,NaN,NaN,NaN

In [9]:
# adding an id
mydb = pymysql.connect(host='dev.spatialdatacapture.org',
user='ucfnmoa',
passwd='qenewoqiki',
db='ucfnmoa')

cursor = mydb.cursor()
#sust_data
# this file is linked to a crontab scheduled every 6 months
# trees_Camden table was created from the last data update

# check if there is a table with the same name and drop it 
cursor.execute("Alter TABLE raw_data ADD COLUMN  id INT AUTO_INCREMENT PRIMARY KEY")

# Close the connection to the database.
mydb.commit()
cursor.close()

# Print Done to inform the user that the update is finished
print("Done")

Done

In [10]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
############### replace USERNAME and PASSWORD with your own credentials #############################
engine = create_engine('mysql+pymysql://ucfnmoa:qenewoqiki@dev.spatialdatacapture.org:3306/ucfnmoa')

# make the connection to the database
conn = engine.raw_connection()

# return it as a dataframe
trees_in_Camden = pd.read_sql('raw_data', con = engine)
trees_in_Camden = trees_in_Camden.drop(['outstanding_job_count','outstanding_job_description','outstanding_job_number','removal_reason',':@computed_region_hxwp_gyfc',':@computed_region_6i9a_26nj'],axis = 1)

# Remove all NAs 
# as well Condition!='Not applicable'Not applicable
# Condition!='Dead'
# Maturity!='Not Applicable'
trees_in_Camden_na=trees_in_Camden.dropna()
trees_in_Camden_Cleaned = trees_in_Camden_na.loc[(trees_in_Camden_na.physiological_condition!='Not applicable') & (trees_in_Camden_na.physiological_condition!='Dead') & (trees_in_Camden_na.maturity!='Not Applicable') & (trees_in_Camden_na.common_name!='Stump') ]

# Setting Data types
# Turns date column into datetime type
trees_in_Camden_Cleaned['inspection_date'] = pd.to_datetime(trees_in_Camden_Cleaned['inspection_date'])
trees_in_Camden_Cleaned['last_uploaded'] = pd.to_datetime(trees_in_Camden_Cleaned['last_uploaded'])

trees_in_Camden_Cleaned['height_in_metres'] = pd.to_numeric(trees_in_Camden_Cleaned['height_in_metres'],errors='coerce')
trees_in_Camden_Cleaned['number_of_trees'] = pd.to_numeric(trees_in_Camden_Cleaned['number_of_trees'],errors='coerce')
trees_in_Camden_Cleaned['sequence'] = pd.to_numeric(trees_in_Camden_Cleaned['sequence'],errors='coerce')
trees_in_Camden_Cleaned['spread_in_metres'] = pd.to_numeric(trees_in_Camden_Cleaned['spread_in_metres'],errors='coerce')
trees_in_Camden_Cleaned['diameter_in_centimetres_at_breast_height'] = pd.to_numeric(trees_in_Camden_Cleaned['diameter_in_centimetres_at_breast_height'],errors='coerce')
trees_in_Camden_Cleaned['capital_asset_value_for_amenity_trees'] = pd.to_numeric(trees_in_Camden_Cleaned['capital_asset_value_for_amenity_trees'],errors='coerce')
trees_in_Camden_Cleaned['easting'] = pd.to_numeric(trees_in_Camden_Cleaned['easting'],errors='coerce')
trees_in_Camden_Cleaned['northing'] = pd.to_numeric(trees_in_Camden_Cleaned['northing'],errors='coerce')
trees_in_Camden_Cleaned['longitude'] = pd.to_numeric(trees_in_Camden_Cleaned['longitude'],errors='coerce')
trees_in_Camden_Cleaned['latitude'] = pd.to_numeric(trees_in_Camden_Cleaned['latitude'],errors='coerce')
trees_in_Camden_Cleaned['identifier'] = pd.to_numeric(trees_in_Camden_Cleaned['identifier'],errors='coerce')
trees_in_Camden_Cleaned['carbon_storage_in_kilograms'] = pd.to_numeric(trees_in_Camden_Cleaned['carbon_storage_in_kilograms'],errors='coerce')
trees_in_Camden_Cleaned['gross_carbon_sequestration_per_year_in_kilograms'] = pd.to_numeric(trees_in_Camden_Cleaned['gross_carbon_sequestration_per_year_in_kilograms'],errors='coerce')
trees_in_Camden_Cleaned['pollution_removal_per_year_in_grams'] = pd.to_numeric(trees_in_Camden_Cleaned['pollution_removal_per_year_in_grams'],errors='coerce')

# store the cleaned data in UCL database
trees_in_Camden_Cleaned.to_sql('camden_tree', engine, if_exists = 'replace')

# Print Done to inform the user that the update is finished
print("Data is cleaned and uploaded to the database")

C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\SaraMoatti\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Data is cleaned and uploaded to the database

In [11]:
#Creating tables

mydb = pymysql.connect(host='dev.spatialdatacapture.org',
user='ucfnmoa',
passwd='qenewoqiki',
db='ucfnmoa')

cursor = mydb.cursor()
#sust_data
# this file is linked to a crontab scheduled every 6 months
# trees_Camden table was created from the last data update

# check if there is a table with the same name and drop it 
cursor.execute("DROP TABLE IF EXISTS sust_data")
cursor.execute("DROP TABLE IF EXISTS tree_data")
cursor.execute("DROP TABLE IF EXISTS tree_locations")
cursor.execute("DROP FUNCTION IF EXISTS distance")


# Create a table in mySQL that includes the below columns
# Indicate data types
cursor.execute("CREATE TABLE sust_data AS SELECT id,carbon_storage_in_kilograms , gross_carbon_sequestration_per_year_in_kilograms,pollution_removal_per_year_in_grams FROM camden_tree")
cursor.execute("CREATE TABLE tree_data AS SELECT id,common_name ,inspection_date,height_in_metres,spread_in_metres,diameter_in_centimetres_at_breast_height,maturity,physiological_condition,tree_set_to_be_removed,newly_planted,capital_asset_value_for_amenity_trees,ward_code,ward_name,last_uploaded,number_of_trees FROM camden_tree")
cursor.execute("CREATE FUNCTION `distance`(a POINT, b POINT) RETURNS double DETERMINISTIC RETURN ifnull(acos(sin(ST_X(a)) * sin(ST_X(b)) + cos(ST_X(a)) * cos(ST_X(b)) * cos(ST_Y(b) - ST_Y(a))) * 6380, 0)")
cursor.execute("CREATE TABLE tree_locations AS SELECT id,latitude,longitude FROM camden_tree;")
cursor.execute("ALTER TABLE tree_locations ADD coords POINT;")
cursor.execute("UPDATE tree_locations SET coords = POINT(longitude, latitude);")

#cursor.execute("ALTER TABLE tree_locations MODIFY coords POINT NOT NULL")

# Close the connection to the database.
mydb.commit()
cursor.close()

# Print Done to inform the user that the update is finished
print("Done")

#check in mySQL your database, you can find the trees in camden table with all the records!

Done